[Unit]
Description=Create Nix build users
Before=nix-daemon.service
ConditionPathExists=!/var/lib/nix/.users-created

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/nix-setup.sh

[Install]
WantedBy=multi-user.target
