[Unit]
Description=Create Nix build users and daemon wrapper
Before=nix-daemon.service
ConditionPathExists=!/var/lib/nix/.users-created
ConditionPathExists=!/var/lib/nix/.wrapper-created
ConditionPathExists=!/var/lib/nix/.template-patched

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/libexec/nix-setup.sh

[Install]
WantedBy=multi-user.target
