[Unit]
Description=Nix Daemon
Documentation=man:nix-daemon
RequiresMountsFor=/var/lib/nix/store
RequiresMountsFor=/var/lib/nix
ConditionPathExists=/var/lib/nix/store

[Service]
ExecStart=/usr/bin/nix-daemon-wrapper
KillMode=process
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target 